        {% extends '::/AdminBase.html.twig' %}
        {% block title %}
            Liste des annonces
        {% endblock title %}
        {% block body %}
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="btn-group">
                        <a class="btn btn-info" href={{ path('ajouter_annonce') }}>
                            Ajouter Nouveau <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="btn-group pull-right">
                        <a class="btn deepPink-bgcolor  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-print"></i> Print </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <form class="search-form-opened" action="#" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." name="query">
                        <span class="input-group-btn">
                          <a href="javascript:;" class="btn submit">
                             <i class="icon-magnifier"></i>
                           </a>
                        </span>
                    </div>
                </form>
            </div>

        <section class="inner-header divider parallax layer-overlay overlay-black-8" data-bg-img="{{ asset('assets/front/images/bg/bg31.jpg')}}">
            <div class="container pt-60 pb-60">
                <!-- Section Content -->
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="title" style="color: white">{{ e.idUtilisateur.nom }}</h2>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <ul>
                            <li>
                                <h5>Identité :</h5>
                                <p>{{ e.idUtilisateur.nom}} {{ e.idUtilisateur.prenom}}</p>

                            </li>
                            <li>
                                <h5>Date Postulation :</h5>
                                <p>{{ e.datePostulation | date('d/m/y') }}</p>
                            </li>

                            </li>
                        </ul>
                    </div>

                    <div class="col-md-2">
                        <ul>
                            <li>
                                <h5>Email :</h5>
                                <p>{{ e.idUtilisateur.email}}</p>
                            </li>

                            <li>
                                <h5>Tél :</h5>
                                <p>{{ e.idUtilisateur.numTel}}</p>
                            </li>


                        </ul>
                    </div>

                    <div style="height: 800px">
                        <iframe src="{{asset("uploads/images/"~e.cv)}}" style="height: 500px" ></iframe>
                    </div>
                </div>
                {% if e.etat=='En attente' %}
                    <a button class="btn deepPink btn-outline m-b-10" href={{ path('accepter_candidature',{'id':e.id})}}>Accepter </a>
                    </button>
                    <br>
                    <a button style="width:95px" class="btn dark btn-outline m-b-10" href={{ path('refuser_candidature',{'id':e.id})}}>Refuser</a>

                    </button>
                {% endif %}
            </div>

        </section>

                                                        {#<a button class="btn btn-primary btn-xs" href={{ path('accepter_candidature',{'id':c.id})}}> Accepter </a><br>#}
                                                        {#</button>#}
                                                        {#<a button class="btn btn-danger btn-xs" href={{ path('refuser_candidature',{'id':c.id})}}> Décliner </a><br>#}
                                                        {#</button>#}



        {% endblock body %}

