{% extends '::/AdminBase.html.twig' %}
        {% block title %}
            Liste des annonces
        {% endblock title %}
 {% block body %}
     <div class="row">
         <div class="col-md-6 col-sm-6 col-xs-6">
             <div class="btn-group">
                 <a class="btn btn-info" href={{ path('ajouter_annonce') }}>
                     Ajouter Nouveau <i class="fa fa-plus"></i>
                 </a>
             </div>
         </div>

         <div class="col-md-6 col-sm-6 col-xs-6">
             <div class="btn-group pull-right">
                 <a class="btn deepPink-bgcolor  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                     <i class="fa fa-angle-down"></i>
                 </a>
                 <ul class="dropdown-menu pull-right">
                     <li>
                         <a href="javascript:;">
                             <i class="fa fa-print"></i> Print </a>
                     </li>
                     <li>
                         <a href="javascript:;">
                             <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                     </li>
                     <li>
                         <a href="javascript:;">
                             <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                     </li>
                 </ul>
             </div>
         </div>
         <form class="search-form-opened" action="#" method="GET">
             <div class="input-group">
                 <input type="text" class="form-control" placeholder="Search..." name="query">
                 <span class="input-group-btn">
                          <a href="javascript:;" class="btn submit">
                             <i class="icon-magnifier"></i>
                           </a>
                        </span>
             </div>
         </form>
     </div>

     <div class="row">
         <div class="col-md-12">
             <div class="row">
                 <div class="col-md-12">
                     <div class="card card-topline-purple">
                         <div class="card-head">
                             <header>Liste des Annonces</header>
                             <div class="tools">
                                 <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                 <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                 <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                             </div>
                         </div>
                         <div class="card-body ">
                             <div class="table-responsive">
                                 <table class="table table-striped custom-table table-hover">
                                     <thead>
                                     <tr>
                                         <th>Domaine</th>
                                         <th>Description</th>
                                         <th>Date Création</th>
                                         <th>Date Expiration</th>
                                         <th>Action</th>
                                         <th>Partager</th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     {%  for annonce in a  %}

                                     <tr>
                                         <td>{{ annonce.domaine }}</td>
                                         <td>{{ annonce.description }}</td>
                                         <td>{{ annonce.dateCreation | date('d/m/y') }}</td>
                                         <td>{{ annonce.dateExpiration | date('d/m/y')}}</td>
                                         <td >
                                             <a button class="btn btn-primary btn-xs" href={{ path('modifier_annonce',{'id':annonce.id})}}> <i class="fa fa-pencil "></i> </a><br>
                                             </button>
                                             <a button class="btn btn-danger btn-xs" href={{ path('supprimer',{'id':annonce.id})}}> <i class="fa fa-trash-o "></i> </a><br>
                                             </button>
                                         </td>
                                         <td>
                                         {{ socialButtons( { 'facebook': {'locale':'fr_FR', 'send':true}} ) }}
                                         {#{{ socialButtons( {'googleplus':false, 'linkedin':false} ) }}#}
                                             {% endfor %}
                                         </td>
                                     </tr>

                                     </tbody>
                                 </table>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock body %}