
{% extends '::/AdminBase.html.twig' %}
        {% block title %}
            Liste des demandes
        {% endblock title %}
 {% block body %}
     <div class="row">
         <div class="col-md-6 col-sm-6 col-xs-6">
             <div class="btn-group">
                 <a class="btn btn-info" href={#{{ path('ajouterConseil') }}#}>
                     Ajouter Nouveau <i class="fa fa-plus"></i>
                 </a>
             </div>
         </div>

         <div class="col-md-6 col-sm-6 col-xs-6">
             <div class="btn-group pull-right">
                 <a class="btn deepPink-bgcolor  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                     <i class="fa fa-angle-down"></i>
                 </a>
                 <ul class="dropdown-menu pull-right">
                     <li>
                         <a href="javascript:;">
                             <i class="fa fa-print"></i> Print </a>
                     </li>
                     <li>
                         <a href="javascript:;">
                             <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                     </li>
                     <li>
                         <a href="javascript:;">
                             <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                     </li>
                 </ul>
             </div>
         </div>
         <form class="search-form-opened" action="#" method="GET">
             <div class="input-group">
                 <input type="text" class="form-control" placeholder="Search..." name="query">
                 <span class="input-group-btn">
                          <a href="javascript:;" class="btn submit">
                             <i class="icon-magnifier"></i>
                           </a>
                        </span>
             </div>
         </form>
     </div>

     <div class="row">
         <div class="col-md-12">
             <div class="row">
                 <div class="col-md-12">
                     <div class="card card-topline-purple">
                         <div class="card-head">
                             <header>Liste des demandes</header>
                             <div class="tools">
                                 <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                 <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                 <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                             </div>
                         </div>
                         <div class="card-body ">
                             <div class="table-responsive">
                                 <table class="table table-striped custom-table table-hover">
                                     <thead>
                                     <tr>
                                         <th> Nom</th>
                                         <th>Prénom</th>
                                         <th>Date naissance</th>
                                         <th>CIN</th>
                                         <th>Num Identifiant</th>
                                         <th> CinImageRecto</th>
                                         <th>CinImageVerso</th>
                                         <th>Diplome</th>
                                         <th>Patente</th>
                                         <th>PhotoEtab</th>
                                         <th>Etat</th><th>Action</th>

                                     </tr>
                                     </thead>
                                     <tbody>
                                     {%  for mm in m  %}




                                     <tr>

                                         <td>{{ mm.nom }}</td>
                                         <td>{{ mm.prenom }}</td>
                                         <td>{{ mm.dateNaissance| date('d/m/y')  }}</td>
                                         <td>{{ mm.cin }}</td>
                                         <td>{{ mm.numIdentifiant }}</td>


                                         <td> <img style="width: 161px;height: 100px;" src="{{asset("uploads/images/"~mm.cinImageRecto)}}"/></td>
                                         <td> <img style="width: 161px;height: 100px;" src="{{asset("uploads/images/"~mm.cinImageVerso)}}"/></td>
                                         <td> <img style="width: 161px;height: 100px;" src="{{asset("uploads/images/"~mm.diplome)}}"/></td>
                                         <td> <img style="width: 161px;height: 100px;" src="{{asset("uploads/images/"~mm.patente)}}"/></td>
                                         <td> <img style="width: 161px;height: 100px;" src="{{asset("uploads/images/"~mm.photoEtab)}}"/></td>
                                         <td>{{ mm.etat }}</td>



                                         <td>

                                {% if mm.etat=='Pas Encore' %}
                                             <a button class="btn deepPink btn-outline m-b-10" href={{ path('accepterDemande',{'id':mm.idDemande})}}>Accepter </a>
                                             </button>

                                             <a button style="width:95px" class="btn dark btn-outline m-b-10" href={{ path('declinerDemande',{'id':mm.idDemande})}}>Refuser</a>

                                    </button>
                                {% endif %}

                                         </td>
                                         {% endfor %}
                                     </tr>

                                     </tbody>
                                 </table>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock body %}