<div class="col-md-9">
    <div class="products">
        <div class="row multi-row-clearfix">
            {% for s in pagination %}
                <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
                    <div class="product">
                        <div class="product-thumb">
                            <img alt="" style="display: block;
  max-width:270px;
  max-height:200px;
  width: 270px;
  height: 200px;" src="{{ asset('/uploads/images/products/') }}{{ s.image }}" class="img-responsive img-fullwidth " >
                            <div class="overlay"></div>
                        </div>
                        <div class="product-details text-center">
                            <a href="{{ path('produits_show',{idProduit:s.IdProduit}) }}"><h5 class="product-title">{{ s.nom|upper }}</h5></a>
                            <div class="" title="Rated 4.50 out of5">{{ s.type }}</div>
                            <div class="price"><ins><span class="amount">${{ s.prix }}</span></ins></div>
                            <div class="btn-add-to-cart-wrapper">
                                <a class="btn btn-default btn-xs btn-add-to-cart" href="{{ path('P_ajouter',{id: s.IdProduit}) }}">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>