
<h3>Liste des Evenements</h3>


<table border="1" width="50%">
    <tr>
        <td>Nom</td><td>Image</td><td>Description</td><td>Date début</td><td>Date fin</td><td>Horaire Début</td><td>Horaire fin</td><td>Categorie</td>
    </tr>

    {%  for mm in m  %}

    <tr>
        <td>{{ mm.nom  }}</td>
        <td> <img style="width: 100px;" src="{{asset("uploads/images/"~mm.image)}}"/></td>
        <td>{{ mm.description  }}</td>
        <td>{{ mm.dateDebut | date('d/m/y')  }}</td>
        <td>{{ mm.dateFin | date('d/m/y')  }}</td>
        <td>{{ mm.horaireCom }}</td>
        <td>{{ mm.horaireFin }}</td>
        <td>{{ mm.idCategorie }}</td>

            {% endfor %}

    </tr>
</table>

