{% extends '::/BaseForm.html.twig' %}


{% block title %}
    Afficher Evenements
{% endblock title %}


        {% block content %}

            <!-- Start main-content -->
            <div class="main-content">
                {% block titreForm  %}
Liste des Evénements
                {% endblock%}

                <!-- Section: inner-header -->
               {# <section class="inner-header divider parallax layer-overlay overlay-dark-8" data-bg-img="images/bg/bg1.jpg">
                    <div class="container pt-60 pb-60">
                        <!-- Section Content -->
                        <div class="section-content">
                            <div class="row">
                                <div class="col-md-12 xs-text-center">
                                    <center><h3 class="title text-white">Liste des évenements</h3></center>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>#}

                <section>
                    <div class="container mt-30 mb-30 pt-30 pb-30">
                        <div class="row ">
                            <div class="col-sm-12 col-md-3">
                                <div class="sidebar sidebar-left mt-sm-30">
                                    <div class="widget">
                                        <h5 class="widget-title line-bottom">Rechercher les évenements à venir </h5>
                                        <ul class="list-divider list-border list check">
                                            <li><a href={{ path('RechercheCurrentDateEvent') }}>Evénements prévu Aujourd'hui</a></li>
                                            <li><a href={{ path('RechercheDateDemainEvent') }}>Evénements prévu demain</a></li>
                                            <li><a href={{ path('RechercheDateSemaineEvent') }}>Evénements prévu dans une semaine</a></li>
                                            <li><a href="#">Recherche selon une date précise</a></li>

                                        </ul>
                                    </div>

                                    <div class="widget">
                                        <h5 class="widget-title line-bottom"></h5>
                                        <div class="owl-carousel-1col">
                                            <div class="item">
                                                <img src="../../../../../../../placehold.it/365x230.png" alt="">
                                                <h4 class="title">Venez découvrir nos événements</h4>
                                                <p>Venez découvrir nos événements.</p>
                                            </div>
                                            <div class="item">
                                                <img src="../../../../../../../placehold.it/365x230.png" alt="">
                                                <h4 class="title">Venez découvrir nos événements</h4>
                                                <p>Venez découvrir nos événements.</p>
                                            </div>
                                            <div class="item">
                                                <img src="../../../../../../../placehold.it/365x230.png" alt="">
                                                <h4 class="title">Venez découvrir nos événements</h4>
                                                <p>Venez découvrir nos événements.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="blog-posts">
                                    <div class="col-md-12">
                                        <div class="row list-dashed">


                                            {%  for mm in m  %}

                                                <article class="post clearfix mb-50 pb-30 bg-lighter">
                                                    <div class="entry-header">
                                                        <div class="post-thumb">

                                                            <img style="width:800px;" src="{{asset("uploads/images/"~mm.image)}}"/>
                                                        </div>
                                                    </div>
                                                    <div class="entry-content p-20 pr-10">
                                                        <div class="entry-meta media mt-0 no-bg no-border">
                                                            <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                                                                <ul>
                                                                    <li class="font-16 text-white font-weight-600">{{ mm.dateDebut | date('d-m-y')  }} </li>
                                                                </ul>
                                                            </div>



                                                            <div class="media-body pl-15">
                                                                <div class="event-content pull-left flip">
                                                                    <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="#">{{ mm.nom  }}</a></h4>
                                                                    <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="mt-10">{{ mm.description  }}</p>
                                                        <a href="{{ path('detailEvenement',{'id':mm.idEvent}) }}" class="btn-read-more">Details</a>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                </article>


                                            {% endfor %}



                                        </div>

                                    </div>


                                    <div class="col-md-12">
                                        <nav>
                                            <ul class="pagination theme-colored">
                                                <ul class="pagination theme-colored pull-right xs-pull-center mb-xs-40">
                                                    {{ knp_pagination_render(m) }}
                                                </ul>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-12 col-md-3">
                                <div class="sidebar sidebar-right mt-sm-30">
                                    <div class="widget">
                                        <h5 class="widget-title line-bottom">Search box</h5>
                                        <div class="search-form">
                                            <form>
                                                <div class="input-group">
                                                   <center> <input type="text" placeholder="Click to Search" class="form-control search-input"></center>
                                                    <span class="input-group-btn">
                      <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
                      </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="widget">
                                        <h5 class="widget-title line-bottom">Categories</h5>
                                        <div class="categories">
                                            <ul class="list list-border angle-double-right">
                                                {% for a in c %}
                                                    <li><a href="{{ path('indexEvenementCat',{'id':a.idCategorie}) }}">{{ a.nom }}</a></li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="widget">
                                        <h5 class="widget-title line-bottom">Evénements les plus récents</h5>
                                        <div class="latest-posts">
                                            <article class="post media-post clearfix pb-0 mb-10">
                                                {%  for mm in m  %}
                                                    <a class="post-thumb" href="#"><img src="../../../../../../../placehold.it/75x75.png" alt=""></a>
                                                    <div class="post-right">
                                                        <center> <td><img style="width: 100px;" src="{{asset("uploads/images/"~mm.image)}}"/> </td>
                                                            <h5 class="post-title mt-0"><a href="#">{{ mm.nom  }}</a></h5>
                                                            <p>{{ mm.dateDebut | date('d/m/y')  }}</p><br><br></center>
                                                    </div>
                                                {% endfor %}
                                            </article>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>


        {% endblock  %}
