{% extends '::/BaseForm.html.twig' %}
        {% block titreRow %}
            Créer un etablissement
        {% endblock titreRow %}

        {% block content %}
            </br>
            <p>Veuillez remplir le formulaire convenablement</p>
            </br>
            {{form_start(form)}}

            <div class="form-group row">
                <label class="col-sm-2 control-label">Nom</label>
                <div class="col-sm-10">
                    {{  form_row(form.nom, {'attr': {'class': 'form-control', 'placeholder' : 'Votre nom'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">Adresse</label>
                <div class="col-sm-10">
                    {{  form_row(form.adresse, {'attr': {'class': 'form-control', 'placeholder' : 'Votre adresse'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">Image</label>
                <div class="col-sm-10">
                    {{  form_row(form.image, {'attr': {'placeholder' : 'Votre image'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">Jour d'ouverture</label>
                <div class="col-sm-10">
                    {{  form_row(form.dateOuverture, {'attr': {'class': 'form-control', 'placeholder' : 'lundi .. dimanche'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">Jour de fermeture</label>
                <div class="col-sm-10">
                    {{  form_row(form.dateFermeture, {'attr': {'class': 'form-control', 'placeholder' : 'lundi .. dimanche'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    {{  form_row(form.email, {'attr': {'class': 'form-control', 'placeholder' : 'Votre email'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">Numéro</label>
                <div class="col-sm-10">
                    {{  form_row(form.numero, {'attr': {'class': 'form-control', 'placeholder' : 'Votre numéro de telephone'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">Fax</label>
                <div class="col-sm-10">
                    {{  form_row(form.fax, {'attr': {'class': 'form-control', 'placeholder' : 'Votre numéro de fax'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">Page Facebook</label>
                <div class="col-sm-10">
                    {{  form_row(form.pageFacebook, {'attr': {'class': 'form-control', 'placeholder' : 'Votre page facebook'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">Site web</label>
                <div class="col-sm-10">
                    {{  form_row(form.siteWeb, {'attr': {'class': 'form-control', 'placeholder' : 'Votre site web'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">Heure d'ouverture</label>
                <div class="col-sm-10">
                    {{  form_row(form.heureOuverture, {'attr': {'class': 'form-control', 'placeholder' : 'Heure d\'ouverture'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">Heure de fermeture</label>
                <div class="col-sm-10">
                    {{  form_row(form.heureFermeture, {'attr': {'class': 'form-control', 'placeholder' : 'Heure de fermeture'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">Type de l'etablissement</label>
                <div class="col-sm-10">
                    {{  form_row(form.type, {'attr': {'class': 'form-control', 'placeholder' : ''}}) }}
                </div>

            </div>



            <div id="subform">

            </div>
            <input type="submit" class="btn btn-primary">
            {{form_end(form)}}

            <script type="text/javascript" src="{{ asset('assets/back/jquery.min.js') }}"></script>

            <script>
                $(document).ready(function () {
                    console.log("aaaaaaaa")
                    $("#etablissementbundle_etablissements_type").on("change",function () {
                        console.log("bbbbbbbb")
                        var type=$(this).val()
                        console.log(type)
                        $.ajax({
                            type: "POST",
                            url: "{{ path('loadSubEstab') }}",
                            data: {subEstablishment:type},
                            success: function (html) {
                                console.log(html)
                                var x= $(html).find("#subform")
                                $("#subform").replaceWith(x)
                            }
                        });
                    })
                })
            </script>
        {% endblock content %}
    {#{% block javascript %}#}
        {#{{   parent() }}#}

    {#{% endblock %}#}