{% extends '::/AdminBase.html.twig' %}
 {% block title %}
     Ajouter Produit Herbo
 {% endblock title %}
 {% block titleP %}
     Ajouter Produit Herbo
 {% endblock titleP %}
{% block script %}
    <link href="{{ asset('assets/back/css/formlayout.css') }}" rel="stylesheet" type="text/css" />

{% endblock script %}
{% block body %}
    <div class="card-body" id="bar-parent">
        {{ form_start(form,{'attr': {'id': 'form_addPHerbo'}}) }}
            <div class="form-body">
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Name
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-5">
                        <div class="input-icon right">
                            <i class="fa"></i>
                        <input type="text"  id="nom" name="nom" data-required="1" placeholder="enter nom" class="form-control input-height"> </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Description
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-5">
                        <div class="input-icon right">
                            <i class="fa"></i>
                        <input type="text" name="description" data-required="1" placeholder="enter Description"  class="form-control input-height"> </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Marque
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-5">
                        <div class="input-icon right">
                            <i class="fa"></i>
                        <input type="text" name="marque" data-required="1" placeholder="enter marque"  class="form-control input-height"> </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Prix
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-5">
                        <div class="input-icon right">
                            <i class="fa"></i>
                        <input name="prix" type="text" placeholder="prix"  class="form-control input-height"> </div>
                    </div>
                    </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Categorie
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-5">
                        <div class="input-icon right">
                            <i class="fa"></i>
                            <select class="form-control select2 select2-hidden-accessible input-height" name="categorie">
                                <option value="the">The</option>
                                <option value="pommade">Pommade</option>
                                <option value="tisane">Tisane</option>
                                <option value="sirop">Sirop</option>
                                <option value="plante">Plante</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Bio
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-5">
                        <center>
                        <input name="bio" style="width: 150px" type="checkbox"  class="input-height">
                        </center>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Produit image
                    </label>
                    <div class="compose-editor">

                        {{ form_row(form.image) }}
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="offset-md-3 col-md-5">

                            <button type="submit" value="submit" name="submit" class="btn btn-primary btn-block">Submit</button>

                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('assets/back/jquery-validation/js/jquery.validate.min.js') }}" ></script>
    <script src="{{ asset('assets/back/jquery-validation/js/additional-methods.min.js')}}" ></script>
    <script src="{{ asset('assets/back/form-validation.js')}}"></script>
{% endblock %}
